{% extends 'base.html.twig' %}

{% block title %}Hello CompanieController!{% endblock %}

{% block body %}
    <style>
        body { background: #000A5A; }
        .navbar { background-color: #212E9A; border-bottom: 3px solid white; }

        h1, h2 {
            text-align: center;
            color: #F5F5F5;
            font-size: xx-large;
        }

        .rejoigneznous {
            background-color: #F5F5F5;
            text-align: center;
            justify-content: center;
            font-weight: bold;
            font-size: xx-large;
            margin-top: 50px;
            padding-bottom: 1px;
        }

        .rejoigneznous p {
            font-size: xx-large;
            font-weight: bold;
        }

        .custom-label label {
            color: white; /* ou la couleur que vous souhaitez */
        }

        .centre {
            margin-top: 40px;
        }
    </style>

    <body>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img style="height: 60px;" src="{{ asset('img/SDPD.png') }}"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            </div>
        </div>
    </nav>

    <div class="rejoigneznous container">
        <p>Equipement</p>
    </div>

    <div class="centre">
        <h2>Ajout equipement</h2>

        {{ form_start(formE, { 'attr': { 'class': 'form-horizontal' } }) }}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="mb-3 custom-label">
                        {{ form_label(formE.nom, 'Nom : ', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(formE.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="mb-3 custom-label">
                        {{ form_label(formE.reference, 'Référence : ', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(formE.reference, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="mb-3 custom-label">
                        {{ form_label(formE.libelle, 'Libellé : ', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(formE.libelle, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="mb-3 custom-label">
                        {{ form_label(formE.nomContact, 'Nom Contact : ', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(formE.nomContact, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="mb-3 custom-label">
                        {{ form_label(formE.telContact, 'Tel Contact : ', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(formE.telContact, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <a class="btn btn-danger" href="{{ path('home_equipement') }}" role="button">Retour</a>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
            </div>
        </div>
        {{ form_end(formE) }}
    </div>

    </body>
{% endblock %}
