{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
    <style>
        body { background: #000A5A; }
        .navbar { background-color: #212E9A; border-bottom: 3px solid white; }
        .medias { margin-top: 25px; margin-left: 50px; }
        .articles { padding-left: 500px; }
        .videos { color:#F5F5F5; flex-direction: column; }
        .rejoigneznous {
            background-color: #F5F5F5;
            text-align:center;
            justify-content: center;
            font-weight: bold;
            font-size: xx-large;
            padding-top: 1px;
        }
        .pages {
            margin-left: 130px;
        }

        #dernier {
            margin-bottom: 100px;
        }

        .containera {
            display: flex;
            flex-direction: row;
            align-items: center; /* aligner les éléments verticalement au centre si nécessaire */
            margin-bottom: 10px;
            justify-content: space-between;
        }

        .containera img {
            height: 60px;
            margin-right: 10px; /* ajouter une marge à droite de l'image pour l'espace */
        }

        .containera p {
            margin: 0; /* supprimer la marge par défaut du paragraphe */
            color: white;
            text-align: right;
        }

        .formulaire {
            position: relative;
            margin-bottom: 10px;
        }

        .formulaire img {
            height: 250px;
            width: 350px;
            margin-right: 10px; /* ajouter une marge à droite de l'image pour l'espace */
        }

        .text-form {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 352px;
            background-color: red;
            color: white;
            padding: 10px;
            text-align: center;
            margin-left: 10px;
            font-weight: bold;
            font-size: x-large;
        }

        .article {
            margin-bottom: 20px;
        }

        .article img {
            width: 80px;
            height: 80px;
            margin-right: 15px;
        }

        .article-content {
            flex: 1;
        }

        .article-content h2 {
            color: #F5F5F5;
            font-size: medium;
        }

        .article-content p {
            color: #F5F5F5;
            font-size: small;
        }
    </style>
    <body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img style="height: 60px;" src="{{ asset('img/SDPD.png') }}"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            </div>
        </div>
    </nav>
    <div class="medias container">
        <div class="row">
            <div class="videos col-6">
                <iframe width="760" height="515" src="https://www.youtube.com/embed/5Vd5tjPRoXU?si=236o5jftNGHCKOKe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="articles col-6">
                <div class="article">
                    <div class="article-content">
                        <h2>NOUVELLE VIDEO</h2>
                        <p>INCENDIE APPARTEMENT PARIS</p>
                    </div>
                    <iframe width="140" height="105" src="https://www.youtube.com/embed/PTLLcoktUfQ?si=qJ-lUdPR39RWR91C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>

                <div class="article">
                    <div class="article-content">
                        <h2>NOUVELLE VIDEO</h2>
                        <p>FEU DE BUS À AUBERVILLIERS (93)</p>
                    </div>
                    <iframe width="140" height="105" src="https://www.youtube.com/embed/qqHWzXcvzL8?si=HffUUS9KGxZ8PjSf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>

                <div class="article">
                    <div class="article-content">
                        <h2>NOUVELLE VIDEO</h2>
                        <p>CHUTE D'AÉRONEF À VILLEJUIF (94)</p>
                    </div>
                    <iframe width="140" height="105" src="https://www.youtube.com/embed/xO1lTCq-MfM?si=Vn8CsqxFkW1-Zlyh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <div class="rejoigneznous container">
        <p>REJOIGNEZ NOUS !</p>
    </div>

    <div class="pages container">
        <div class="row">
            <div class="formulaire container col-4">
                <div>
                    <a class="navbar-brand" href="{{ path('home_caserne') }}">
                        <img src="{{ asset('img/caserne.png') }}" />
                        <div class="text-form">
                            NOS CASERNES
                        </div>
                    </a>
                </div>
            </div>
            <div class="formulaire container col-4">
                <div>
                    <a class="navbar-brand" href="{{ path('home_companie') }}">
                        <img src="{{ asset('img/companie.png') }}" />
                        <div class="text-form">
                            NOS COMPANIES
                        </div>
                    </a>
                </div>
            </div>
            <div class="formulaire container col-4">
                <div>
                    <a class="navbar-brand" href="{{ path('home_equipement') }}">
                        <img src="{{ asset('img/equipement.png') }}" />
                        <div class="text-form">
                            NOS EQUIPEMENTS
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="pages container">
        <div class="row">
            <div class="formulaire container col-4">
                <div>
                    <a class="navbar-brand" href="{{ path('home_formation') }}">
                        <img src="{{ asset('img/formation.png') }}" />
                        <div class="text-form">
                            NOS FORMATIONS
                        </div>
                    </a>
                </div>
            </div>
            <div class="formulaire container col-4">
                <div>
                    <a class="navbar-brand" href="{{ path('home_intervention') }}">
                        <img src="{{ asset('img/intervention.png') }}" />
                        <div class="text-form">
                            NOS INTERVENTIONS
                        </div>
                    </a>
                </div>
            </div>
            <div class="formulaire container col-4">
                <div>
                    <a class="navbar-brand" href="{{ path('home_pompier') }}">
                        <img src="{{ asset('img/pompier.png') }}" />
                        <div class="text-form">
                            NOS POMPIERS
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="dernier" class="pages container">
        <div class="row">
            <div class="formulaire container col-4">
                <div>
                    <a class="navbar-brand" href="{{ path('home_vehicule') }}">
                        <img src="{{ asset('img/vehicule.png') }}" />
                        <div class="text-form">
                            NOS VEHICULES
                        </div>
                    </a>
                </div>
            </div>
            <div class="formulaire container col-4">
                <div>
                    <a class="navbar-brand" href="{{ path('home_type') }}">
                        <img src="{{ asset('img/vehicule.png') }}" />
                        <div class="text-form">
                            NOS TYPES DE VEHICULES
                        </div>
                    </a>
                </div>
            </div>
            <div class="formulaire container col-4">
                <div>
                    <a class="navbar-brand" href="">
                        <img src="{{ asset('img/pompier.jpg') }}" />
                        <div class="text-form">
                            NOTRE HISTOIRE
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
