{% extends 'base.html.twig' %}

{% block title %}Liste des Casernes{% endblock %}

{% block body %}
    <style>
        body { background: #000A5A; }
        .navbar { background-color: #212E9A; border-bottom: 3px solid white; }
        .rejoigneznous {
            background-color: #F5F5F5;
            text-align:center;
            justify-content: center;
            font-weight: bold;
            font-size: xx-large;
            margin-top: 50px;
            padding-bottom: 1px;
        }

        .rejoigneznous p {
            font-size: xx-large;
            font-weight: bold;

        }

        h2 {
            text-align: center;
            color: #F5F5F5;
            font-size: xx-large;

        }

        .card {
            margin-bottom: 25px;
        }
    </style>

    <body>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img style="height: 60px;" src="{{ asset('img/SDPD.png') }}"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            </div>
        </div>
    </nav>

    <div class="rejoigneznous container">
        <p>CASERNE             <a class="btn btn-primary"
                                  href="{{ path('add_caserne') }}"
                                  role="button">Ajouter</a></p>
    </div>

    <br>
    <h2>Liste des casernes</h2>
    <br>

    <div class="container">
        <div class="row">
            {% for caserne in casernes %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('img/pompier.jpg') }}"class="card-img-top" alt="...">

                        <div class="card-body">
                            <h5 class="card-title">ID {{ caserne.id }} | {{ caserne.idCompanie.nom }}</h5>
                            <p class="card-text">Nom : {{ caserne.nom }} | Adresse : {{ caserne.adresse }}</p>
                            <a class="btn btn-primary"
                               href="{{ path('edit_caserne', {id: caserne.id}) }}"
                               role="button">Edit</a>
                            <a class="btn btn-danger delete-formation"
                               href="{{ path('delete_caserne', {id: caserne.id}) }}"
                               role="button"
                               data-id="{{ caserne.id }}">Delete</a>
                            <a class="btn btn-success add-formation"
                               href="{{ path('stockerCaserne', {id: caserne.id}) }}"
                               role="button"
                               data-id="{{ caserne.id }}">Ajout Stock</a>
                            <a class="btn btn-success add-formation"
                               href="{{ path('listeStock', {id: caserne.id}) }}"
                               role="button"
                               data-id="{{ caserne.id }}">Lister Stock</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    </body>
{% endblock %}
