{% extends 'base.html.twig' %}

{% block title %}Hello CompanieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Caserne</h1>
    <br>
    <h2>Ajout caserne</h2>
    <br>
    {{ form_start(formC, { 'attr': { 'class': 'form-horizontal'}}) }}
        <div class="mb-3">
            {{ form_label(formC.adresse, 'Adresse : ', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(formC.adresse, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(formC.ville, 'Ville : ', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(formC.ville, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(formC.codePostal, 'Code postal : ', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(formC.codePostal, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(formC.idCompanie, 'Companie : ', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(formC.idCompanie, {'attr': {'class': 'form-select'}}) }}
        </div>
        <a class="btn btn-danger"
           href="{{ path('home_caserne') }}"
           role="button">Retour</a>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(formC) }}

</div>
{% endblock %}
