{% extends 'base.html.twig' %}

{% block title %}Hello FormationPimponController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Formation pompier
        <a class="btn btn-primary"
           href="{{ path('add_formpimpon') }}"
           role="button">Ajouter</a>
    </h1>
    <br>
    <h2>Liste des formations pompiers</h2>
    <br>
    <table class="table" >
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Pompier</th>
            <th scope="col">Formation</th>
            <th scope="col">Date</th>
            <th scope="col">Durée</th>
            <th scope="col">Adresse</th>
            <th scope="col">Statut</th>
            <th scope="col">Opérations</th>
        </tr>
        </thead>
        <tbody>
        {% for formationpimpon in formationspimpons %}
            <tr>
                <th scope="row"> {{ formationpimpon.id }} </th>
                <td> {{ formationpimpon.idPompier.nom }} </td>
                <td> {{ formationpimpon.idFormation.libelle }} </td>
                <td> {{ formationpimpon.date.format('Y-m-d') }} </td>
                <td> {{ formationpimpon.duree }} </td>
                <td> {{ formationpimpon.adresse }} </td>
                <td> {{ formationpimpon.statut }} </td>
                <td>
                    <a class="btn btn-primary"
                       href="{{ path('edit_formpimpon', {id: formationpimpon.id}) }}"
                       role="button">Edit</a>
                    <a class="btn btn-danger"
                       href="{{ path('delete_formpimpon', {id: formationpimpon.id}) }}"
                       role="button">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
