{% extends 'base.html.twig' %}

{% block title %}Hello CompanieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Détail intervention</h1>
    <br>
    <h2>Modification des détails de l'intervention</h2>
    <br>
    {{ form_start(editFormDI, { 'attr': { 'class': 'form-horizontal'}}) }}
    <div class="mb-3">
        {{ form_label(editFormDI.idIntervention, 'Intervention : ', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(editFormDI.idIntervention, {'attr': {'class': 'form-select'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(editFormDI.idPompier, 'Pompier : ', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(editFormDI.idPompier, {'attr': {'class': 'form-select'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(editFormDI.idVehicule, 'Véhicule : ', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(editFormDI.idVehicule, {'attr': {'class': 'form-select'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(editFormDI.heureDebut, 'Heure début : ', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(editFormDI.heureDebut, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(editFormDI.heureFin, 'Heure fin : ', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(editFormDI.heureFin, {'attr': {'class': 'form-control'}}) }}
    </div>
    <a class="btn btn-danger"
       href="{{ path('home_detailInter') }}"
       role="button">Retour</a>
    <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(editFormDI) }}

</div>
{% endblock %}
